html {
    scroll-behavior: smooth;
}

/*font for all text*/
h1,
h2,
h3,
h4,
h5,
p,
li,
th,
label {
    font-family: 'Roboto', sans-serif;
}

/*Resize the nav bar when the screen size is 1000px or less*/
@media screen and (max-width: 1000px) {
    #li {
        float: none;
    }
}

.search-container {
    float: right;
    padding: 10px 10px 0px 0px;
}

.footer {
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

body {
    margin: 0;
    text-align: center;
}


button {
    color: white;
    background-color: #ff4fa4;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.1s;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #111;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 0 300px;

    background-color: #56667A;
}

.footer {
    margin-top: 20px;
}

.gameLink {
    text-decoration: none;
    color: inherit;
    display: block;
}

#contentSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.gameContainer {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    padding: 5px;
    margin: 10px 0 0 10px;
}

#detailInfo {
    display: flex;
    justify-content: space-between;
    border: 0, 1px, 1px, 3px solid black;
    padding: 5px;
    margin: 10px 0 0 10px;
}

.gameInfo {
    flex: 1;
    padding: 0 10px;
}

.sortingItem {
    display: inline;
    padding: 0 10px;
}

#sortingSection {
    background-color: #b88c9e;
    padding-top: 10px;
    padding-bottom: 10px;
}

label,
input {
    font-size: 16px;
    font-weight: bold;
}

#searchBar {
    display: flex;
    font-size: 16px;
    margin: 10px;
    align-self: center;
    width:40%;
}

#sortingSection {
    padding: 0;
}